.black-tile {
  background-color: rgba(0, 0, 0, 0.389);
}

.white-tile {
  background-color: white;
}

.tile svg {
  height: 2 rem;
  width: 2 rem;
}

.tile {
  place-content: center;
}

.tile .chess-piece {
  width: 6.25rem;
  height: 6.25rem;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: center;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}
