body {
  background-color: black;
}

.chessboard {
  font-size: 16px;
  width: 50rem;
  height: 50rem;
  background-color: darkseagreen;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 columnas, una para cada letra */
  grid-template-rows: repeat(8, 1fr); /* 8 filas, una para cada número */
  width: 100%;
  height: 100%;
  max-width: 50rem;
  max-height: 50rem;
}

.tiles {
  width: 6.25rem;
  height: 6.25rem;
}
